
body{
    background-color: rgb(255, 253, 255);
}


styles.css
.container {
    padding: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      padding: 20px;

    }
    .App{
        border: 1px solid #fff;
        margin: 100px 30%;
        padding: 50px;
        text-align: center;
        border-radius: 25px;
        background-color:	rgb(100,149,237);
    }	
    .App h2{
        color: #fff;
    }
    .App ul{
        list-style:"📝" ;
        cursor: pointer;
        font-size: 22px;
        color: #fff;
        margin: 20px;
    }
    .App input{
        width: 200px;
        height: 40px;
        border-radius: 10px;
        margin: 20px;
    }
    
    .App button{
        display: block;
        margin: auto;
        width: 150px;
        height: 30px;
        background-color:rgb(70,130,180) ;
        color: #fff;
        border-radius: 5px;
        border: 0;
    }
    .App ul li{
        word-wrap: break-word;
        /* overflow-wrap:break-word; */
    }
    .diffstyle{
        list-style: "✅";
        /* text-decoration: line-through; */
    
    }
    .div10{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
  